/JavaScript_Workspace/*/node_modules/
/JavaScript_Workspace/search/src/db
.gitignore
/JavaScript_Workspace/search_v2/frontend/node_modules/
/JavaScript_Workspace/search_v2/backend/node_modules/
/JavaScript_Workspace/fullstack_app/*/node_modules/
/JavaScript_Workspace/search_v2/backend/db
/Rust_Workspace/*/target/
/JavaScript_Workspace/search_v3/src/server/db